# Bastion
Host vbs
  Hostname home.ghn.me
  Port 8522

# Remotes
Host vpi
  Hostname 192.168.1.3
  ProxyJump vbs

Host vdk
  Hostname 192.168.1.4
  ProxyJump vbs

Host vdv
  Hostname 192.168.1.10
  ProxyJump vbs

Host vds
  Hostname 192.168.1.11
  ProxyJump vbs

# General
Host *
  User ansible
  IdentityFile deploy_rsa
  IdentitiesOnly yes
  StrictHostKeyChecking no
  GlobalKnownHostsFile /dev/null
  UserKnownHostsFile /dev/null
  ControlMaster auto
  ControlPath=/tmp/ansible-control-%r@%h:%p.sock
  ControlPersist 30m
